---
- name: Setup cluster network
  import_playbook: network.yml

- name: Bootstrap cluster
  import_playbook: bootstrap.yml

- name: Install k3s
  import_playbook: k3s.yml

- name: Install databases
  import_playbook: databases.yml

- name: Add lcd display
  import_playbook: lcd.yml
